{{define "subject"}}Password Reset Instructions{{end}}

{{define "plainBody"}}
Hi,

We received a request to reset your password. If you did not make this request, you can safely ignore this email.

{{.passwordResetToken}} is your password reset token. It will expire in 30 minutes.

To reset your password, please send a request to the `PUT /v1/users/password` endpoint with the following JSON body:

{"token": "{{.passwordResetToken}}", "password": "your_new_password"} 

Thanks,

The BookClub Community Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
        <title>Password Reset Instructions</title>
    </head>
    <body>
        <p>Hi,</p>
        <p>We received a request to reset your password. If you did not make this request, you can safely ignore this email.</p>
        <p><strong>{{.passwordResetToken}}</strong> is your password reset token. It will expire in 30 minutes.</p>
        <p>To reset your password, please send a request to the <code>PUT /v1/users/password</code> endpoint with the following JSON body:</p>
        <pre><code>
            {"token": "{{.passwordResetToken}}", "password": "your_new_password"}
        </code></pre>
        <p>Thanks,</p>
        <p>The BookClub Community Team</p>
    </body>
</html>
{{end}}

